<template>
  <div class="nav">
    <router-link class="nav-item" :to="{ name: 'Home' }"
      ><h2 class="nav-item">HAYA REAL ESTATE</h2></router-link
    >
  </div>
</template>

<script lang="ts">
export default {};
</script>

<style lang="scss">
@import "../styles/Navbar.scss";
</style>
