<template>
  <!-- Select de ordenar por... -->
  <div class="container-options-item">
    <select
      class="container-options-item-select"
      v-model="valueSelectToOrder"
      v-on:click="passEvent"
    >
      <option disabled value="">Order by...</option>
      <option value="name">Name</option>
      <option value="city">City</option>
      <option value="type">Type</option>
      <option value="price">Price</option>
    </select>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({
  data: () => ({
    valueSelectToOrder: "" as string,
  }),
  methods: {
    passEvent() {
      this.$emit("valueSelectToOrder", this.valueSelectToOrder);
    },
  },
});
</script>

<style lang="scss">
@import "../styles/ItemsList.scss";
</style>
