<template>
  <!-- Select para precios ... -->
  <div class="container-options-item">
    <select
      class="container-options-item-select"
      v-model="prices.selectedPriceLow"
      v-on:click="passEvent()"
    >
      <option value="0">Min Price</option>
      <option value="1">1 €</option>
      <option value="60000">60.000 €</option>
      <option value="100000">100.000 €</option>
      <option value="200000">200.000 €</option>
      <option value="300000">300.000 €</option>
      <option value="500000">500.000 €</option>
    </select>
    <select
      class="container-options-item-select"
      v-model="prices.selectedPriceHigh"
      v-on:click="passEvent()"
    >
      <option value="0">Max Price</option>
      <option value="60000">60.000 €</option>
      <option value="100000">100.000 €</option>
      <option value="200000">200.000 €</option>
      <option value="300000">300.000 €</option>
      <option value="500000">500.000 €</option>
      <option value="600000">600.000 €</option>
      <option value="10000000">+ 600.000 €</option>
    </select>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
export default defineComponent({
  data: () => ({
    prices: {
      selectedPriceLow: 0 as number,
      selectedPriceHigh: 0 as number,
    } as any,
  }),
  methods: {
    passEvent() {
      this.$emit("valuePricesToFilter", this.prices);
    },
  },
});
</script>

<style lang="scss">
@import "../styles/ItemsList.scss";
</style>
