@import "./Mixin.scss";

body,
html {
  padding: 0;
  margin: 0;
  background-color: rgb(3, 90, 119);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
// estilos generales para toda la app
a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: 0;
  &.router-link-exact-active {
    color: #0985f8;
  }
}
h1 {
  color: #0985f8;
}
button {
  @include options-style;
  width: 30px;
  background-color: white;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
  &:focus {
    background-color: #0985f8;
    color: white;
  }
  &:hover {
    background-color: #7aa5cc;
    color: white;
  }
}
