@import "./Mixin.scss";

.container-card {
  display: flex;
  margin: 10px 20px 20px;
  border: 1px solid #0985f8;
  background-color: white;
  width: 520px;
  height: 240px;
  &-img {
    display: flex;
    &-item {
      width: 300px;
      height: 100%;
    }
  }
  &-title {
    padding: 0 10px;
    text-align: left;
  }
  &-info {
    text-align: left;
  }
  &-items {
    display: flex;
    text-align: left;
    &-icon {
      margin: 0px 8px;
    }
    &__margin {
      margin: 0px 15px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .container-card {
    width: 300px;
    height: 520px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 700px) {
  .container-card {
    width: 520px;
    height: 280px;
    &-img {
      &-item {
        width: 260px;
      }
    }
    &-items {
      display: flex;
      text-align: left;
      &-icon {
        margin: 0px 4px;
      }
      &__margin {
        margin: 0px 8px;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  .container-card {
    width: 700px;
    height: 240px;
  }
}
