@import "./Mixin.scss";

.main {
  @include display-center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(3, 90, 119);
  &-list {
    @include display-center;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
  }
}
.container-no-houses {
  margin-top: 10px;
  margin-left: 30px;
}
.container-options {
  @include display-center;
  flex-direction: column;
  &-item {
    margin: 10px;
    padding: 9px;
    width: 300px;
    border: 1px solid #0985f8;
    background-color: white;
    &-select {
      @include options-style;
    }
    &-input-search {
      @include options-style;
    }
    &-radio {
      margin-top: 10px;
    }
    &-pagination {
      @include display-center;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top:15px;
      &-pages{
        @include display-center;
        flex-wrap: wrap;
        margin: 5x 0px;
      }
      &__margin {
        margin: 10px;
      }
    }
  }
}
.list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.reset-icon {
  cursor: pointer;
}
.text-info {
  color: white;
  margin: 0;
}
.cotainer-no-result{
  width: 758px;
}
.error-text {
  color: red;
}
@media only screen and (max-width: 1100px) {
  .main {
    &-list {
      flex-direction: column;
      @include display-center;
    }
  }
  .container-options {
    margin-top: 10px;
    &-item {
      width: 500px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .container-options {
    &-item {
      width: 280px;
    }
  }
  .container-no-houses {
    margin-left: 0px;
  }
  .cotainer-no-result{
    width: 300px;
  }
}
